<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>regNumber</title>
	<link rel="stylesheet" href="/public/registration_number.css">
</head>

<body>
	<div class="container">
	{{{body}}}
	</div>
	{{!-- <script src="reg-number.js" charset="utf-8"></script>
	<script src="reg-number.dom.js"></script> --}}
</body>

</html>