

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/style.css">
	
</head>

<body>
	<div class="container">
		<div class="list">
		<div>
			<h1>Registration numbers</h1>
 <form action="/registrations" method="POST">
     {{!-- <div class="error">
                   
                </div> --}}
				     <div class="exists">
						  <p>{{messages.error}}</p>
                    <p>{{messages.exists}}</p>
					  <p>{{messages.success}}</p>
                </div>
				  {{!-- <div class="success">
                  
                </div> --}}
			<div>
				<input type="text" name="regiNumber" id="registrations" placeholder="enter a registration number" >
				<input type="submit" value="Add reg number" class="addRegNumber btn blue">
				<button value="reset" class="addRegNumber btn blue">  <a href="/reset">Reset</a></button>
              
				{{!-- <a href="/reset" ><button type="button" class="resetBtn">reset</button></a> --}}
			</div>
</form>
			<div class="filter">
			
 
        <form action="/registrations" method="GET">
  <div class="selector">
            <h3>Select a Town:</h3>
            <div class="selectTown">
				<strong>Filter by town</strong>

				<input class="towns" name="town" type="radio" value="All">Show all
				<input class="towns" name="town" type="radio" value="CY">Bellville
				<input class="towns" name="town" type="radio" value="CJ">Paarl
				<input class="towns" name="town" type="radio"value="CA"> Cape Town

			</div>
				 <input type="submit" value="Filter" class="button-primary filter" style="">
			</div>
			<hr>
			   <div>
        <ul>
            {{#each reg_number}}
            <li class="displayHere">{{this.reg_number}}
            </li>
            {{/each}}
        </ul>
    </div>
</form>
			</div>
		</div>
	</div>

</body>

</html>