

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/style.css">
	
</head>

<body>
	<div class="container">
		<div class="list">
		<div>
			<h1>Registration numbers</h1>
 <form action="/registrations" method="POST">
			<div>
				<input type="text" name="regiNumber" id="inputElement" placeholder="enter a registration number" >
				<input type="submit" value="Add reg number" class="addRegNumber btn blue">
				 <input type="submit"  value="filter" class="addRegNumber btn blue" name="button">
                <a href="/reset">Reset</a>
				{{!-- <a href="/reset" ><button type="button" class="resetBtn">reset</button></a> --}}
			</div>
</form>
			<div class="filter">
			
  <form action="/filter:town" method="POST">
  <div class="selector">
            <h3>Select a Town:</h3>
            <div class="selectTown">
                <select name="towns" class="towns">
                    <option value="All">All Towns</option>
                    <option value="CY">Bellville</option>
                    <option value="CA">Cape Town</option>
                    <option value="CJ">Paarl</option>
                </select>
			</div>
			<hr>
			   <div>
        <ul>
            {{#each reg_number}}
            <li class="displayHere">{{reg_number}}
            </li>
            {{/each}}
        </ul>
    </div>
</form>
			</div>
		</div>
	</div>

</body>

</html>