
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}


.container {
	width: 90%;
	margin:	auto;
		text-align: center;
}
.displayHere{
	
		text-align: center;
}

.parts {
	display: flex;
	margin-right: 2em;
}

.parts div {
	flex: 1;
}

.regNumberEntered {
	margin: 1em;
	padding: 1em;
	border-radius: 0.5em;
	font-size: 1em;
}

.btn {
	margin: 1em;
	padding: 1em;
	font-size: 1em;
	border-radius: 0.25em;
}

.blue {
	background-color: dodgerblue;
}
.addRegNumber btn blue{
    background-color: dodgerblue;
}
.resetBtn {
	background-color: dodgerblue;
	margin: 1em;
	padding: 1em;
	font-size: 1em;
	border-radius: 0.25em;
}
.button-primary filterBtn{
	background-color: dodgerblue;
	margin: 1em;
	padding: 1em;
	font-size: 1em;
	border-radius: 0.25em;
}
.exists {
	height: 1em;
	font-weight: bold;
	color: orange;
}
.success{
	height: 1em;
	font-weight: bold;
	color: green
}
.error{
	height: 1em;
	font-weight: bold;
	color: red
}
.regNumber {

	background-color: yellow;
	border: 0.1em solid;
	border-radius: 0.25em;
	padding: 2em;
	margin: 0.5em;
	width: 7em;
	text-align: center;
	font-weight: bold;
	float: left;

}
.reg {
	background-color: yellow;
	border: 0.1em solid;
	border-radius: 0.25em;
	padding: 1em;
	margin: 0.5em;
	width: 7em;
	text-align: center;
	font-weight: bold;
	float: left;

}
ul {
	margin: 0em;
	padding: 0em;
}

li {
	list-style: none;
	padding: 1em;
	background-color: yellow;
	border-radius: 0.25em;
	border: 0.1em solid;
	margin: 0.5em;
	width: 7em;
	text-align: center;
	font-weight: bold;
	float: left;
}
body {
	background-image: url('cars.jpg');
  }

input[type='radio'] {
	margin: 1em;
}

